  *{
    box-sizing: border-box;
    }

    .container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(248, 247, 247);
    border-radius: 10px;
    width: 30vw;
    height: 40vh;
    color: white;
    background: rgb(38,217,219);
    background: linear-gradient(0deg, rgba(38,217,219,1) 0%, rgba(43,87,228,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow: hidden;
    }

    .container p{
     font-size: 1.2em;
     position: absolute;
     left: 30px; 
    }

    .container p:nth-child(1){
    top: 70px;
    }

    .container p:nth-child(3){
    font-size: 3em;
    font-weight: bold;
    top: 140px;
    }

    .container p:nth-child(4){
    top: 240px;
    }

    .container img{
        position: absolute;
        right: 50px;
        top: 70px;
    }

    .container::before {
        position: absolute;
        background:white;
        opacity: 0.2;
        display: block;
        width: 300px;
        height: 300px;
        border: 0;
        border-radius: 50%;
        right: -90px;
        top: -90px;
        content: ' '
        }

    .container::after {
        position: absolute;
        background:white;
        opacity: 0.2;
        display: block;
        width: 300px;
        height: 300px;
        border: 0;
        border-radius: 50%;
        right: -40px;
        top: 150px;
        content: ' '
   }
    